<script>
  var updateTime = function() {
    console.log(1);
    new Ajax.Request('/servertime', {
      method:'get',
      onSuccess: function(transport){
        var response = transport.responseText;
        $('time').insert(response);
      },
      onFailure: function(){ alert('Something went wrong...') }
    });
  }
  setInterval(updateTime, 5000);
</script>
<div class="auth">
  <%= @current_user.login %> |
  <%= link_to 'logout', logout_path %>
</div>
<p id="time"><%= Time.now.strftime('%H:%M:%S') %></p>
